 <img class="img-responsive title-page" src="../images/2000px-38254-new_folder-1.svg.png" alt="">
<div class="intro-text">
    <span class="name">Task App</span>
    <hr class="star-light"></hr>
    <span class="skills">Keep track of the progress of all your tasks, hobbies and chores!</span>
</div>



<!--
<div>
    <ul>
        <li ng-repeat="book in books.allBooks">{{ book.title }} - {{ book.author }}
            <a href="#/EditBook/{{ book.book_id }}">Edit</a>
            <a ng-click="books.deleteBook(book.book_id)" href="">Delete</a>
        </li>
    </ul>
</div>

<a href="#/AddBook">Add New Book</a>
<a href="#/EditBook/{{ books.currentUser.lastBookEdited.book_id }}">Open Last Edited</a>

<h3>All Readers</h3>
<div>
    <ul>
        <li ng-repeat="reader in books.allReaders">{{ reader.name }} - {{ books.getBadge(reader.totalMinutesRead) }}</li>
    </ul>
</div>


<h3>Current Favorite Book</h3>
<div>
    {{ books.favoriteBook }}
</div>
-->
